div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    background-color: rgb(red, green, blue);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    box-shadow: -4px 9px 26px black;
}

body{
    background-image:url(/imag/fb2d3cea3cc1145de2b866e232390e9d.jpg) ;
    background-size: 100%;
    background-size: cover;
}

p{color: white;font-size: 24px;}
h1{color: white;}

img{border-radius: 50%;
box-shadow: -4px 9px 26px black;}

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #73068f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: -4px 9px 26px black;}